/* Root Variables */
:root {
    /* Base */
    --bg: hsl(0, 0%, 5%);
    --bg-soft: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);

     --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-soft));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-soft));
    --highlight: hsl(0 0% 60%);

    /* Accent (Orange Food Tone) */
    --accent: hsl(25, 95%, 55%);
    --accent-selector: hsl(25, 95%, 55%);
    --accent-hover: hsl(25, 95%, 60%);
    --accent-soft: hsl(25, 95%, 20%);

    /* UI */
    --border: hsl(0, 0%, 30%);
    --border-card: solid 1px var(--border);
    --glass-bg: rgba(20, 20, 20, .45);

    --shadow:
    0px 8px 25px hsla(0, 0%, 0%, 0.65),
    0px 16px 45px hsla(0, 0%, 0%, 0.45),
    0px 0px 0px 1px hsla(0, 0%, 100%, 0.05),
   
}

body.light {
    --bg: hsl(0, 0%, 95%);
    --bg-soft: hsl(0, 0%, 100%);

    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 30%);

    --border: hsl(0, 0%, 30%);
    --border-card: solid 1px var(--bg);

     --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);

    --accent-selector: hsl(25, 5%, 45%);
    --glass-bg: rgba(255, 255, 255, .55);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins";
    background: var(--bg);
    color: var(--text);
    line-height: 1.6;
}

/* NAVBAR BASE */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 8%;
    /* background: rgba(255, 255, 255, .95); */
    background: var(--glass-bg);
    color: var(--text);
    backdrop-filter: blur(15px);
    position: fixed;
    width: 100%;
    height: 15%;
    top: 0;
    z-index: 1000;
    /* glass edge */
    border-bottom:
        1px solid rgba(255, 255, 255, .08);
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, .05); */
    box-shadow: var(--shadow);
    /* border: 1px var(--border); */
    -webkit-backdrop-filter: blur(18px);
    /* margin-bottom: 200px; */
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 1px;
}

.logo img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    border-radius: 50%;
    transition: .35s;
}


.logo:hover img {
    transform: rotate(6deg) scale(1.05);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 45px;
}


.nav-links a {
    text-decoration: none;
    color: #111;
    color: hsl(25, 90%, 60%);
    color: var(--text-muted);
    font-weight: 500;
    transition: .3s;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: #111;
    transition: .3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.menu-toggle {
    display: none;
    font-size: 34px;
    cursor: pointer;
    font-weight: bold;
}

/* Hero Section Styling. */

.hero-slider {
    position: relative;

    min-height: 100vh;

    overflow: hidden;

    background: var(--bg);

    padding: 0 8%;
}

.hero-slider::before {
    content: "";

    position: absolute;

    top: 50%;
    right: 8%;

    width: 450px;
    height: 450px;

    transform: translateY(-50%);

    border-radius: 50%;

    background: hsla(25, 95%, 55%, 0.12);

    filter: blur(120px);

    pointer-events: none;
}

.slide {
    position: absolute;

    inset: 0;

    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 4rem;

    padding: 0 8%;
    opacity: 0;

    pointer-events: none;
}

.slide.active {
    opacity: 1;

    pointer-events: auto;
}

.hero-text {
    flex: 1;

    max-width: 550px;

    transform: translateX(-100px);

    opacity: 0;

    transition: 0.8s ease;
}

.hero-text.active-text {
    transform: translateX(0);

    opacity: 1;
}

.hero-text span {
    color: hsl(6, 100%, 64%);

    font-weight: 600;

    letter-spacing: 2px;
}

.hero-text h1 {
    font-size: 4rem;

    margin: 1rem 0;

    color: var(--text);
}

.hero-text p {
    color: var(--text-muted);

    line-height: 1.8;
}

.hero-image {
    flex: 1;

    display: flex;

    justify-content: flex-end;

    transform: translateX(100px);

    opacity: 0;

    transition: 0.8s ease;
}

.hero-image.active-image {
    transform: translateX(0);

    opacity: 1;
}

.hero-image img {
    width: 100%;

    max-width: 550px;

    object-fit: contain;
}

.hero-btn {
    margin-top: 2rem;

    padding: 0.9rem 2rem;

    border: none;
    outline: none;

    font-family: "Poppins";
    border-radius: 999px;

    background: var(--accent);

    color: hsl(0, 0%, 99%);

    font-size: 0.95rem;
    /* font-weight: 600; */

    cursor: pointer;

    transition: all 0.3s ease;
}

/* Menu Section Styling. */

.menu-section {

    padding: 8rem 8%;

    background: var(--bg);
}

.menu-heading {

    text-align: center;

    margin-bottom: 4rem;
}

.menu-heading span {

    color: var(--accent);

    font-weight: 600;

    letter-spacing: 2px;
}

.menu-heading h2 {

    font-size: 2.8rem;

    margin-top: 1rem;

    color: var(--text);
}

.menu-container {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 2rem;
}

.menu-card {

    background: var(--bg-soft);

    /* border: 1px solid var(--border); */
    border: var(--border-card);
    box-shadow: var(--shadow);

    border-radius: 24px;

    padding: 2rem;

    text-align: center;

    transition: 0.4s ease;
}

.menu-card img {

    width: 180px;

    margin-bottom: 1.5rem;

    transition: 0.4s ease;
}

.menu-card h3 {

    font-size: 1.4rem;

    margin-bottom: 1rem;

    color: var(--text);
}


.menu-card p {

    color: var(--text-muted);

    line-height: 1.7;

    margin-bottom: 1rem;
}


.menu-card h4 {

    color: var(--accent);

    font-size: 1.2rem;
}

.menu-card:hover {

    transform: translateY(-10px);

    border-color: var(--accent);
}


.menu-card:hover img {

    transform: scale(1.08) rotate(3deg);
}

/* Reservation Styling.  */

.reservation-section {

    padding: 8rem 8%;

    background: var(--bg);

    text-align: center;
}

.table-selection {

    display: flex;
    align-items: center;

    justify-content: center;

    gap: 2rem;

    margin: 4rem 0;
}

.table-card {

    width: 350px;

    background: var(--bg-soft);

    /* border: 1px solid var(--border); */
    border: var(--border-card);
    box-shadow: var(--shadow);

    border-radius: 24px;

    overflow: hidden;

    cursor: pointer;

    transition: 0.4s ease;
}

.table-card img {

    width: 100%;

    height: 240px;

    object-fit: cover;
}

.table-info {

    padding: 2rem;
}

.table-info h3 {

    color: var(--text);

    margin-bottom: 0.5rem;
}

.table-info p {

    color: var(--text-muted);
}

.table-info h4 {

    margin-top: 1rem;

    color: var(--accent);

    font-size: 1.5rem;
}

.table-card:hover {

    border-color: var(--accent);

    transform: translateY(-10px);

    box-shadow:
        0 0 30px hsla(25, 95%, 55%, 0.2);
}

.reservation-form {

    max-width: 800px;

    margin: 0 auto;

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 1.5rem;

    padding: 3rem;

    background: var(--bg-soft);

    /* border: 1px solid var(--border); */
    border: var(--border-card);
    box-shadow: var(--shadow);

    border-radius: 24px;
}

.reservation-form input {

    width: 100%;

    padding: 1rem 1.2rem;

    font-family: "Poppins";

    background: transparent;
    background: var(--bg-soft);

    /* border: 1px solid var(--border); */
    border: var(--border-card);
    /* box-shadow: var(--shadow); */

    border-radius: 14px;

    color: var(--text);

    font-size: 0.95rem;

    outline: none;

    transition: 0.3s ease;
}

.reservation-form input::placeholder {

    color: var(--text-muted);
}

.reservation-form input:focus {

    border-color: var(--accent);

    box-shadow:
        0 0 15px hsla(25, 95%, 55%, 0.15);
}

.reservation-form button {

    grid-column: span 2;

    margin-top: 1rem;

    padding: 1rem;

    border: none;

    border-radius: 999px;

    background: var(--accent);

    color: hsl(0, 0%, 99%);

    font-size: 1rem;

    /* font-weight: 500; */
    font-family: "Poppins";

    cursor: pointer;

    transition: 0.3s ease;
}

.reservation-form input[type="date"]::-webkit-calendar-picker-indicator,

.reservation-form input[type="time"]::-webkit-calendar-picker-indicator {

    cursor: pointer;

    filter:
        invert(64%) sepia(96%) saturate(1650%) hue-rotate(350deg) brightness(102%) contrast(102%);
    font-size: 1.3rem;
}

.reservation-form input[type="date"]:hover::-webkit-calendar-picker-indicator,

.reservation-form input[type="time"]:hover::-webkit-calendar-picker-indicator {

    transform: scale(1.1);

    transition: 0.3s ease;
}

.reservation-form input[type="date"],

.reservation-form input[type="time"] {

    appearance: none;

    -webkit-appearance: none;
}

.table-selector {

    grid-column: span 2;

    text-align: left;
}

.table-selector h3 {

    margin-bottom: 1rem;

    color: var(--text);

    font-size: 1rem;
}

.table-selector label {

    display: flex;

    align-items: center;

    gap: 0.8rem;

    margin-bottom: 1rem;

    color: var(--text-muted);

    cursor: pointer;
}

.table-selector input[type="radio"] {

    /* accent-color: var(--accent); */
    accent-color: var(--accent-selector);

    width: 18px;
    height: 18px;
}

.selected-price {

    margin-top: 1.5rem;

    font-size: 1rem;

    color: var(--text);
}


.selected-price span {

    color: var(--accent);

    font-weight: 600;

    margin-left: 0.5rem;
}

.reservation-popup {

    position: fixed;

    inset: 0;

    background: hsla(0, 0%, 0%, 0.8);

    display: flex;

    justify-content: center;

    align-items: center;

    opacity: 0;

    pointer-events: none;

    transition: 0.4s ease;

    z-index: 9999;
}

.reservation-popup.show {

    opacity: 1;

    pointer-events: auto;
}

.popup-box {

    width: 90%;

    max-width: 450px;

    padding: 2.5rem;

    background: var(--bg);

    /* border: 1px solid var(--accent); */
    border: var(--border-card);
    box-shadow: var(--shadow);

    border-radius: 24px;

    text-align: center;
}

.popup-box h2 {

    color: var(--accent);

    margin-bottom: 2rem;
}

#popup-details {

    color: var(--text-muted);

    line-height: 2;
}

#close-popup {

    margin-top: 2rem;

    padding: 0.8rem 2rem;

    border: none;

    border-radius: 999px;
    font-family: "Poppins";

    background: var(--accent);
    color: var(--text);

    cursor: pointer;

    font-weight: 600;
}

/* Contact Us Section. */

.contact-section {

    padding: 8rem 8%;

    display: flex;

    justify-content: space-between;

    align-items: center;

    gap: 4rem;

    background: var(--bg);
}

.contact-info {

    flex: 1;

    max-width: 500px;
}


.contact-info span {

    color: var(--accent);

    font-weight: 600;

    letter-spacing: 2px;
}


.contact-info h2 {

    margin: 1rem 0;

    font-size: 3rem;

    color: var(--text);
}


.contact-info p {

    color: var(--text-muted);

    line-height: 1.8;

    margin-bottom: 2rem;
}

.info-item {

    margin-bottom: 1rem;

    color: var(--text);

    font-size: 1rem;
}

.contact-form {

    flex: 1;

    display: flex;

    flex-direction: column;

    gap: 1rem;

    padding: 2rem;

    background: var(--bg-soft);

    /* border: 1px solid var(--border); */
    border: var(--border-card);
    box-shadow: var(--shadow);

    border-radius: 24px;
}

.contact-form input,
.contact-form textarea {

    padding: 1rem;

    background: transparent;

    border: 1px solid var(--border);
    border: var(--border-card);
    /* box-shadow: var(--shadow); */

    border-radius: 14px;

    color: var(--text);

    font-family: inherit;

    outline: none;

    resize: none;

    transition: 0.3s ease;
}

.contact-form textarea {

    min-height: 140px;
}

.contact-form input:focus,
.contact-form textarea:focus {

    border-color: var(--accent);

    box-shadow:
        0 0 15px hsla(25, 95%, 55%, 0.12);
}

.contact-form button {

    margin-top: 1rem;

    padding: 1rem;

    border: none;

    border-radius: 999px;

    background: var(--accent);

    color: hsl(0, 0%, 98%);

    /* font-weight: 500; */
    font-family: "Poppins";
    font-size: 0.9rem;

    cursor: pointer;

    transition: 0.3s ease;
}


.contact-form button:hover {

    transform: translateY(-4px);

    box-shadow:
        0 10px 25px hsla(25, 95%, 55%, 0.25);
}

.message-popup {

    position: fixed;

    inset: 0;

    background: hsla(0, 0%, 0%, 0.8);

    display: flex;

    justify-content: center;

    align-items: center;

    opacity: 0;

    pointer-events: none;

    transition: 0.4s ease;

    z-index: 9999;
}

.message-popup.show {

    opacity: 1;

    pointer-events: auto;
}


.message-box {

    width: 90%;

    max-width: 450px;

    padding: 2.5rem;

    background: var(--bg-soft);

    border: 1px solid var(--accent);
    border: var(--border-card);
    box-shadow: var(--shadow);

    border-radius: 24px;

    text-align: center;
}

.message-box h2 {

    color: var(--accent);

    margin-bottom: 2rem;
}


#message-details {

    color: var(--text-muted);

    line-height: 2;
}

#close-message {

    margin-top: 2rem;

    padding: 0.8rem 2rem;

    border: none;

    border-radius: 999px;

    background: var(--accent);
    color: var(--text);

    cursor: pointer;

    font-family: "Poppins";
    /* font-weight: 600; */
}

/* Footer styling. */

.footer {

    padding: 2rem 8%;

    /* border-top: 1px solid var(--border); */
    /* box-shadow: var(--shadow);
    border: var(--border-card); */

    background: var(--bg-soft);
}

.footer-content {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 1rem;

    flex-wrap: wrap;

    text-align: center;
}

.footer-logo img {

    width: 45px;

    height: 45px;

    object-fit: contain;
}

.footer p {

    color: var(--text-muted);

    font-size: 0.95rem;

    line-height: 1.8;
}

.footer span {

    color: var(--accent);

    font-weight: 600;
}

.footer a {

    color: var(--accent);

    text-decoration: none;

    font-weight: 600;

    transition: 0.3s ease;
}

.footer a:hover {

    text-shadow:
        0 0 12px hsla(25, 95%, 55%, 0.35);
}

/* Loading Screen Styling. */

.loader-screen {

    position: fixed;

    inset: 0;

    background: var(--bg);

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 10000;

    transition: 0.8s ease;
}

.loader-screen.hide {

    opacity: 0;

    visibility: hidden;
}

.loader-content {

    text-align: center;
}

.loader-logo {

    width: 70px;

    margin-bottom: 2rem;
}

.loader-ring {

    width: 60px;

    height: 60px;

    margin: 0 auto;

    border: 3px solid var(--border);

    border-top: 3px solid var(--accent);

    border-radius: 50%;

    animation: spin 1s linear infinite;
}

.loader-content p {

    margin-top: 1.5rem;

    color: var(--text-muted);

    font-size: 0.95rem;

    letter-spacing: 2px;
}

@keyframes spin {

    from {

        transform: rotate(0deg);
    }

    to {

        transform: rotate(360deg);
    }

}

/* Theme toggler styling. */

.theme-toggle {
    position: fixed;
    bottom: 30px;
    right: 30px;

    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;

    background: var(--bg-light);
    color: var(--text);

    font-size: 28px;
    cursor: pointer;

    box-shadow:
        0 8px 20px rgba(0, 0, 0, .18);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .35s;
    z-index: 9999;
}


/* Responsive Design. */

@media(max-width:768px) {
    .menu-toggle {
        display: block;
        z-index: 1100;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        /* background: white; */
        background: var(--glass-bg);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(16px);
        flex-direction: column;
        text-align: center;
        padding: 30px 0;
        gap: 25px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, .08);
        box-shadow: var(--shadow);
        border: var(--border-card);
        display: none;
        border-bottom-left-radius: 17px;
        border-bottom-right-radius: 17px;
    }

    #nav-links a {
        color: var(--text);
    }

    .nav-links.show {
        display: flex;
        animation: slideDown .4s ease;
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .slide {

        flex-direction: column-reverse;

        justify-content: center;

        text-align: center;

        gap: 2rem;

        padding: 6rem 8% 2rem;
    }


    .hero-text {

        max-width: 100%;

        padding-right: 0;
    }


    .hero-text h1 {

        font-size: 2.2rem;

        line-height: 1.2;
    }


    .hero-text p {

        font-size: 0.95rem;
    }


    .hero-image {

        width: 100%;

        justify-content: center;
    }


    .hero-image img {

        width: 85%;

        max-width: 320px;
    }

    .menu-container {

        grid-template-columns: 1fr;
    }


    .menu-heading h2 {

        font-size: 2rem;
    }

    .table-selection {

        flex-direction: column;

        align-items: center;
    }


    .table-card {

        width: 100%;
        max-width: 350px;
    }

    .reservation-form {

        grid-template-columns: 1fr;

        padding: 2rem;
    }


    .reservation-form button {

        grid-column: span 1;
    }

    .table-selector {

        grid-column: span 1;
    }

    .contact-section {

        flex-direction: column;

        text-align: center;
    }


    .contact-info {

        max-width: 100%;
    }

    .footer-content {

        flex-direction: column;

        gap: 0.8rem;
    }

}